<!DOCTYPE html>
<html>
<head>
  <title>card game</title>
  <link rel="stylesheet" href="styles/front-page.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="scripts/front_page.js"></script>
</head>
<body>
  <section id="front_page">
    <div>
      <h1>Are you over 10?</h1>
      <button class="yes">Yes</button>
      <button class="no">No</button>
      <p id="message" class="hidden">Go home kid!</p>
    </div>
  </section>
</body>
</html>