<!DOCTYPE html>
<html>
<head>
  <title>The Card Game</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/front-page.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="scripts/front_page.js"></script>
</head>
<body>
  <div class="front_page">
    <div class='cell'>
      <h1>Are you over 10?</h1>
      <button type="button" class="btn btn-primary btn-lg yes">Yes</button>
      <button type="button" class="btn btn-danger btn-lg no">No</button>
      <h3 class="message hided">Go home kid!</h3>
    </div>
  </div>
</body>
</html>