<!DOCTYPE html>
<html>
<head>
  <title>Card Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/game.css" type="text/css" />
  <link rel="stylesheet" href="/styles/chatting.css" type="text/css" />
  <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
  <link rel="stylesheet" href="/styles/rank.css" type="text/css" />
  <link rel="stylesheet" href="/styles/side_bar.css" type="text/css" />
  <script type="text/javascript" src="/scripts/main_room.js"></script>
  <script type="text/javascript" src="/scripts/rank.js"></script>
  <script type="text/javascript" src="/scripts/sidebar.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><i class="fas fa-dice"></i>The Card Game</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <form action='/' method='POST' class="navbar-form navbar-right">
              <input type="text" class="form-control" name='search' placeholder="Search">
              <button type="submit" class="search_btn btn btn-default">Search</button>
            </form>
            <span class="navbar-text username_style"><%=username%></span>
            <li><a href="/logout">Logout</a></li>
            <li><a class='rank'>Rank</a></li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- side bar for chat and profile -->
  <div class='chatting_container chat_side_bar'>
    <div class='chat_log'></div>
    <form class="chat_form">
      <input class="message" name="message" type="text">
      <input type="submit" class="chat" value="Send"/>
    </form>
  </div>
  <div class='profile_container prof_side_bar'>
    <div class='my_profile'></div>
    <div class='opponent_profile'></div>
  </div>

  <div class="row">
    <!-- chatting room -->
    <div class='chatting_container col-xs-12 col-sm-3'>
      <div class='chat_log'></div>
      <form class="chat_form">
        <input class="message" name="message" type="text">
        <input type="submit" class="chat" value="Send"/>
      </form>
    </div>
    <!-- game room -->
    <div data-id='<%=room_id%>' class='game_container col-xs-12 col-sm-7'></div>
    <!-- profile room -->
    <div class='profile_container col-xs-12 col-sm-2'>
      <div class='my_profile'></div>
      <div class='opponent_profile'></div>
    </div>
  </div>
  <!-- rank page -->
  <div class='overlay'>
    <div class='rank_page'>
    </div>
  </div>
</body>
</html>