body {
  width: 100%;
  height: 100%;
}
.game_container {
  width: 500px;
  height: 700px;
  margin: auto;
  padding: 20px;
  background-image: url('img/wooden_background.png');
}

.label, .point {
  width: 100%;
}

.label_myside, .my_point{
  display: inline-block;
  margin: 0;
}

.label_opponent, .opponent_point {
  display: inline-block;
  float: right;
  margin: 0;
}

.my_point {
  margin-left: 1em;
}

.opponent_point {
  margin-right: 1em;
}


.main {
  width: 100%;
  height: 100%;
}

.opponent, .spade, .mine, .choice {
  width: 100%;
  height: 23%;
  text-align: center;
  margin: auto;
}

.opponent img, .spade img, .choice img{
  width: 80px;
  height: 100px;
  box-shadow: 2px 4px rgba(80,80,80,0.5);
}

.mine div {
  display: inline;
  margin: 0 5px;
}

.mine div img {
  width: 50px;
  height: 70px;
  box-shadow: 2px 4px rgba(80,80,80,0.5);
  transition: 0.3s;
}

.mine div img:hover {
  cursor: pointer;
  width: 70px;
  height: 80px;
  box-shadow: 5px 10px rgba(80,80,80,0.5)
}

.waiting {
  height: 100%;
  text-align: center;
}

.waiting p {
  color: rgba(34, 39, 48, 0.8);
  font: bold 30px Arial, Helvetica, sans-serif;
  margin: auto;
}

.ready_room {
  height: 100%;
}

.opponent_ready, .restart {
  height: 50%;
  text-align: center;
  font-size: 100px;
  text-shadow: 5px 5px rgba(80,80,80,0.5);
  vertical-align: center;
}

.ready, .result {
  height: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 100px;
  text-shadow: 5px 5px rgba(80,80,80,0.5);
  vertical-align: center;
}

.ready:hover, .restart:hover {
  text-shadow: 1px 1px rgba(80,80,80,0.5);
  cursor: pointer;
}

.end {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}


/*Waiting animation*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  overflow: hidden;
}

ul {
  display: flex;
}
ul li {
  width: 20px;
  height: 20px;
  margin: 10px;
  list-style-type: none;
  transition: 0.5s all ease;
}
ul li:nth-child(1) {
  animation: right-1 1s infinite alternate;
  background-color: #ddd8b8;
  animation-delay: 100ms;
}
@keyframes right-1 {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(60px);
  }
}
ul li:nth-child(2) {
  animation: right-2 1s infinite alternate;
  background-color: #b3cbb9;
  animation-delay: 200ms;
}
@keyframes right-2 {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(70px);
  }
}
ul li:nth-child(3) {
  animation: right-3 1s infinite alternate;
  background-color: #84a9c0;
  animation-delay: 300ms;
}
@keyframes right-3 {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(80px);
  }
}
ul li:nth-child(4) {
  animation: right-4 1s infinite alternate;
  background-color: #6a66a3;
  animation-delay: 400ms;
}
@keyframes right-4 {
  0% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(90px);
  }
}
ul li:nth-child(5) {
  animation: right-5 1s infinite alternate;
  background-color: #58548e;
  animation-delay: 500ms;
}
@keyframes right-5 {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100px);
  }
}
