.username_style {
  margin-left: 14px;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  z-index: 2;
}

.rank:hover {
  cursor: pointer;
}

.form-control {
  display: inline;
  width: 70%;
  margin-left: 14px
}